/* 
Colors to use 
Primary = #263238
Secondary= #0277bd
PrimaryLight = #4f5b62
PrimaryDark= #000a12
SecondaryLight= #58a5ef
SecondaryDark= #004c8b
PrimaryText = #ffffff */


body{
    position: relative;
    margin: 0px;
}

header {
    background-color:#263238 ;
    height: 70px;
    width: auto;
    text-align: center;
}

header h6{
   color:white;
   font-size: 3em;
   margin: 0px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 70%;
    height: auto;
    background-color:#58a5ef ;
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}

.task{
    background-color:#0277bd ;
    border: 5px solid white;
    border-radius: 25px;
    margin: 4px 9px;
    height: 100px;
    padding: 10px;
    color: white;
}

.lowTask {
    background-color:green ;
}
.medTask {
    background-color:yellow ;
}
.highTask {
    background-color:red ;
}


.task-container{
    display: flex;
    flex-direction: row;
    align-content:space-around;
    justify-content: space-between;
}

.deleteIcon{
    fill: white;
    align-self: center;
    width: 50px;
    height: 50px;
}

.task:hover{
    background-color: #58a5ef;
    color: grey;

}


.button{
    all:none;
    border: none ;
    z-index: 1;
}
.addButton:active{
    background-color: #004c8b;
}

.addButton{
    float: right;
    margin-right: 16px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #58a5ef ;
    padding:10px;
}


.plusIcon{
    width: 70%;
    height: 70%;
    fill: white;
    padding: inherit;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.opacityWindow{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
    top: 0px;
    left: 0px;
    z-index: auto;
    
}

form{
    top: 0%;
    left: 25%;
    position: absolute;
    width: 70%;
    margin: 32px auto 0 auto;
    background-color: rgb(88, 170, 190);
    z-index: 3;
    color: white;
}

label{
    margin: 16px;
    font-size: 20px;
}

input,.input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }
  .task-form {
    display: flex;
    flex-direction: column;
    width: 425px;
    padding: 20px;
    margin: 40px;
    border: 2px solid #d8d8d8;
    background-color: #4f5b62;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  }

  .task-form .button {
    color: teal;

    display: block;
    margin: 30px auto;
    background-color: white;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  }


  .clearfix {
    overflow: auto;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


@media only screen and (max-width: 800px) {
    form {
        top: 0%;
        left: 11%;
    }
}


